.Tabs {
  position: relative;
  display: inline-block;
  /*margin-bottom: 3px;*/
  background-color: #04192D;
  padding: 20px;
}

.Tabs__Tab {
  /* display: inline-block;
  padding: 1em;
  background: #ededed;
  color: limegreen;
  cursor: pointer; */
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.Tabs__Tab:hover {

}



.Tabs__Tab--active {
  /* background: hotpink;
  color: white; */
  /* box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none; */
  border-bottom: 2px solid #953870;
}

.Tabs__Underline {
  /* position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 3px solid orange; */

  background: #04192D;
  border-color: #aaa;
  color: #FDD4A6;
  border-radius: 5px 5px 0 0;

}
