@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


.header {
  background-color: #04192D;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  text-align: center;
  color: #FDD4A6;
  font-family: 'Open Sans', serif;
  /*Center text to middle of header */

}

.sidebar {
    display: flex;
    padding-top: 10vh;

}

.sidebar-contents {
  padding: 10px;
  width: 20vw;
  height: auto;
  min-height: 175vh;
  background-color: #04192D;

}

.sidebar-links {
  color: #FDD4A6;
  font-size: 26px;
  text-decoration: none;

}

.sidebar-links:visited {
  color: #FDD4A6;
}

.displayedComponent {
   flex: 1;
   padding: 10px;
}
